<!-- Jop Details -->
<section style="border-radius: 0.5rem; border:1px solid rgba(0, 0, 0, 0.219);" class="mx-4 mb-4 p-3" >
    <!-- job details word -->
    <h4 class="mb-3 text-center">Job Details</h4>
   <!-- Client image + Client Name -->
   <a class="text-decoration-none text-dark" href="#">
       <div class="d-flex align-items-center">
           <img class="me-2" style="width: 5%;" src="../../assets/client.png" alt="Client Profile Photo">
           <h5>Client Name</h5>
       </div>
   </a>
   <!-- ............................... -->

   <!-- div contain job details -->
   <div class=" mt-4 d-flex justify-content-around">
       <!-- order Details -->
       <div class="position-relative" style="top: 1rem; width: 60%;">
          
           <!-- job details  -->
           <div class="ms-2">
               <!-- Category + Sub Category -->
               <div class="d-flex justify-content-between">
                   <!-- Main Category -->
                   <span class="d-flex align-items-center">
                       <h6 class="fw-bold">Main Category: </h6>
                       <h6 class="ms-2">Bed Rooms</h6>
                   </span>
                   <!-- ٍSub Category -->
                   <span class="position-relative d-flex align-items-center" style="right: 4rem;">
                       <h6 class="fw-bold">Sub Category: </h6>
                       <h6 class="ms-2">Bed</h6>
                   </span>
               </div>
               <!-- Description -->
               <span>
                   <h6 class="fw-bold">Description: </h6>
                   <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati quasi atque natus architecto reprehenderit earum nulla quas. Aut, enim magnam.</h6>
               </span>
               <!-- Material -->
               <span class="d-flex align-items-center">
                   <h6 class="fw-bold">Material: </h6>
                   <h6 class="ms-2">MDF Wood</h6>
               </span>
               <!-- Dimensions -->
               <span class="d-flex align-items-center">
                   <h6 class="fw-bold">Dimensions (L x W x H): </h6>
                   <h6 class="ms-2">200 x 160 x 70 </h6>
               </span>
               <!-- Color Code -->
               <span class="d-flex align-items-center">
                   <h6 class="fw-bold">Color Code: </h6>
                   <h6 class="ms-2">#f58f69a</h6>
               </span>
               <!-- Quantity -->
               <span class="d-flex align-items-center">
                   <h6 class="fw-bold">Quantity: </h6>
                   <h6 class="ms-2">4</h6>
               </span>
               <!-- Budget -->
               <span class="d-flex align-items-center">
                   <h6 class="fw-bold">Price Range: </h6>
                   <h6 class="ms-2">30$</h6>
                   <h6 class="ms-2">to</h6>
                   <h6 class="ms-2">50$</h6>
               </span>
               <!-- Client Notes -->
               <span>
                   <h6 class="fw-bold">Client Notes: </h6>
                   <h6>Lorem ipsum dolor,  natus architecto reprehenderit earum nulla quas. Aut, enim magnam.</h6>
               </span>
           </div>
       </div>
       <!-- Expected image for the product -->
       <div class="text-center " style="width:35%;">
           <img class="w-100" style="border-radius:0.5rem;" src="../../assets/cat_bedroom.webp" alt="job Photo">
           <p class="mt-1 fw-semibold">Expected Product</p>
       </div>
   </div>
   <!-- .................................... -->

   
</section>