<div class="container ">
<div class="row row staff-grid-row mt-5 g-4 justify-content-between">
<!-- 1 -->
<div class="owl-wrapper col-md-6 col-sm-6  col-lg-4 col-xl-4">
     <div class="owl-item" >
          <div class="custom-col">
               <div class="single-product">

                    <!--product(star-name-price)  -->
                    <div class="product-details">

                         <!-- product header -->

                         <div class="card-header card-header">

                              <button type="button" class="btn-close "></button>
                         </div>

                         <!-- star -->
                         <div class="ratings no-rating row">
                              <ul>
                                   <li><i class="fa-solid fa-star"></i></li>
                                   <li><i class="fa-solid fa-star"></i></li>
                                   <li><i class="fa-solid fa-star"></i></li>
                                   <li><i class="fa-solid fa-star"></i></li>
                                   <li><i class="fa-solid fa-star"></i></li>
                              </ul>
                         </div>

                         <!-- product-name -->
                         <div class="product-name">
                              <h3><a href="#">Fusce aliquam</a></h3>
                         </div>

                         <!-- price-box -->
                         <div class="price-box">
                              <span class="old-price">$170.00</span>
                              <span class="new-price">$155.00</span>
                         </div>
                    </div>

                    <!-- image -->
                    <div class="product-img">

                         <span class="sale-text">sale</span>

                         <a href="#">
                              <img class="primary-img"
                                   src="https://htmldemo.net/expert/expert/assets/images/product/1_5.webp" alt="">

                              <img class="secondary-img"
                                   src="https://htmldemo.net/expert/expert/assets/images/product/22_1.webp" alt="">
                         </a>

                         <div class="add-action">
                              <ul>
                                   <!-- tooltip 1 -->
                                   <li class="heart">
                                        <div id="tooltip1" role="tooltip">
                                             ADD To Wishlist
                                             <div id="arrow1" data-popper-arrow></div>
                                        </div>

                                        <a href="#" id="ankr1" aria-describedby="tooltip">
                                             <i class="fa-regular fa-heart"></i>
                                        </a>
                                   </li>
                                   <!-- tooltip 2 -->
                                   <li class="refresh">


                                        <div id="tooltip2" role="tooltip">
                                             Compare
                                             <div id="arrow2" data-popper-arrow></div>
                                        </div>


                                        <a href="#" data-bs-tooltip="tooltip" aria-label="Compare"
                                             data-bs-original-title="Compare">
                                             <i class="fa fa-refresh"></i>
                                        </a>
                                   </li>


                                   <!-- Button trigger modal -->

                                   <!-- tooltip 3 -->
                                   <li class="quickview eye ">
                                        <div id="tooltip3" role="tooltip">
                                             Quick view
                                             <div id="arrow3" data-popper-arrow></div>
                                        </div>




                                        <a href="#" title="Quick view" data-bs-toggle="modal"
                                             data-bs-target="#productModal">
                                             <i class="fa fa-eye"></i>
                                        </a>
                                   </li>
                              </ul>
                         </div>
                    </div>

                    <!-- button -->
                    <div class="add-to-cart">
                         <a href="#">add to cart</a>
                    </div>
               </div>
          </div>
     </div>

</div>
<!-- 2 -->

<div class="owl-wrapper col-md-6 col-sm-6 col-lg-4 col-xl-4">
     <div class="owl-item" >
          <div class="custom-col">
               <div class="single-product">

                    <!--product(star-name-price)  -->
                    <div class="product-details">

                         <!-- product header -->

                         <div class="card-header card-header">

                              <button type="button" class="btn-close "></button>
                         </div>

                         <!-- star -->
                         <div class="ratings no-rating row">
                              <ul>
                                   <li><i class="fa-solid fa-star"></i></li>
                                   <li><i class="fa-solid fa-star"></i></li>
                                   <li><i class="fa-solid fa-star"></i></li>
                                   <li><i class="fa-solid fa-star"></i></li>
                                   <li><i class="fa-solid fa-star"></i></li>
                              </ul>
                         </div>

                         <!-- product-name -->
                         <div class="product-name">
                              <h3><a href="#">Fusce aliquam</a></h3>
                         </div>

                         <!-- price-box -->
                         <div class="price-box">
                              <span class="old-price">$170.00</span>
                              <span class="new-price">$155.00</span>
                         </div>
                    </div>

                    <!-- image -->
                    <div class="product-img">

                         <span class="sale-text">sale</span>

                         <a href="#">
                              <img class="primary-img"
                                   src="https://htmldemo.net/expert/expert/assets/images/product/1_5.webp" alt="">

                              <img class="secondary-img"
                                   src="https://htmldemo.net/expert/expert/assets/images/product/22_1.webp" alt="">
                         </a>

                         <div class="add-action">
                              <ul>
                                   <!-- tooltip 1 -->
                                   <li class="heart">
                                        <div id="tooltip1" role="tooltip">
                                             ADD To Wishlist
                                             <div id="arrow1" data-popper-arrow></div>
                                        </div>

                                        <a href="#" id="ankr1" aria-describedby="tooltip">
                                             <i class="fa-regular fa-heart"></i>
                                        </a>
                                   </li>
                                   <!-- tooltip 2 -->
                                   <li class="refresh">


                                        <div id="tooltip2" role="tooltip">
                                             Compare
                                             <div id="arrow2" data-popper-arrow></div>
                                        </div>


                                        <a href="#" data-bs-tooltip="tooltip" aria-label="Compare"
                                             data-bs-original-title="Compare">
                                             <i class="fa fa-refresh"></i>
                                        </a>
                                   </li>


                                   <!-- Button trigger modal -->

                                   <!-- tooltip 3 -->
                                   <li class="quickview eye">
                                        <div id="tooltip3" role="tooltip">
                                             Quick view
                                             <div id="arrow3" data-popper-arrow></div>
                                        </div>




                                        <a href="#" title="Quick view" data-bs-toggle="modal"
                                             data-bs-target="#productModal">
                                             <i class="fa fa-eye"></i>
                                        </a>
                                   </li>
                              </ul>
                         </div>
                    </div>

                    <!-- button -->
                    <div class="add-to-cart">
                         <a href="#">add to cart</a>
                    </div>
               </div>
          </div>
     </div>

</div>

<!-- 3 -->
<div class="owl-wrapper col-md-6 col-sm-6 col-lg-4 col-xl-4">
     <div class="owl-item" >
          <div class="custom-col">
               <div class="single-product">

                    <!--product(star-name-price)  -->
                    <div class="product-details">

                         <!-- product header -->

                         <div class="card-header card-header">

                              <button type="button" class="btn-close "></button>
                         </div>

                         <!-- star -->
                         <div class="ratings no-rating row">
                              <ul>
                                   <li><i class="fa-solid fa-star"></i></li>
                                   <li><i class="fa-solid fa-star"></i></li>
                                   <li><i class="fa-solid fa-star"></i></li>
                                   <li><i class="fa-solid fa-star"></i></li>
                                   <li><i class="fa-solid fa-star"></i></li>
                              </ul>
                         </div>

                         <!-- product-name -->
                         <div class="product-name">
                              <h3><a href="#">Fusce aliquam</a></h3>
                         </div>

                         <!-- price-box -->
                         <div class="price-box">
                              <span class="old-price">$170.00</span>
                              <span class="new-price">$155.00</span>
                         </div>
                    </div>

                    <!-- image -->
                    <div class="product-img">

                         <span class="sale-text">sale</span>

                         <a href="#">
                              <img class="primary-img"
                                   src="https://htmldemo.net/expert/expert/assets/images/product/1_5.webp" alt="">

                              <img class="secondary-img"
                                   src="https://htmldemo.net/expert/expert/assets/images/product/22_1.webp" alt="">
                         </a>

                         <div class="add-action">
                              <ul>
                                   <!-- tooltip 1 -->
                                   <li class="heart">
                                        <div id="tooltip1" role="tooltip">
                                             ADD To Wishlist
                                             <div id="arrow1" data-popper-arrow></div>
                                        </div>

                                        <a href="#" id="ankr1" aria-describedby="tooltip">
                                             <i class="fa-regular fa-heart"></i>
                                        </a>
                                   </li>
                                   <!-- tooltip 2 -->
                                   <li class="refresh">


                                        <div id="tooltip2" role="tooltip">
                                             Compare
                                             <div id="arrow2" data-popper-arrow></div>
                                        </div>


                                        <a href="#" data-bs-tooltip="tooltip" aria-label="Compare"
                                             data-bs-original-title="Compare">
                                             <i class="fa fa-refresh"></i>
                                        </a>
                                   </li>


                                   <!-- Button trigger modal -->

                                   <!-- tooltip 3 -->
                                   <li class="quickview eye">
                                        <div id="tooltip3" role="tooltip">
                                             Quick view
                                             <div id="arrow3" data-popper-arrow></div>
                                        </div>




                                        <a href="#" title="Quick view" data-bs-toggle="modal"
                                             data-bs-target="#productModal">
                                             <i class="fa fa-eye"></i>
                                        </a>
                                   </li>
                              </ul>
                         </div>
                    </div>

                    <!-- button -->
                    <div class="add-to-cart">
                         <a href="#">add to cart</a>
                    </div>
               </div>
          </div>
     </div>

</div>

<!-- 4 -->
<div class="owl-wrapper  col-md-6 col-sm-6 col-lg-4 col-xl-4 ">
     <div class="owl-item" >
          <div class="custom-col">
               <div class="single-product">

                    <!--product(star-name-price)  -->
                    <div class="product-details">

                         <!-- product header -->

                         <div class="card-header card-header">

                              <button type="button" class="btn-close "></button>
                         </div>

                         <!-- star -->
                         <div class="ratings no-rating row">
                              <ul>
                                   <li><i class="fa-solid fa-star"></i></li>
                                   <li><i class="fa-solid fa-star"></i></li>
                                   <li><i class="fa-solid fa-star"></i></li>
                                   <li><i class="fa-solid fa-star"></i></li>
                                   <li><i class="fa-solid fa-star"></i></li>
                              </ul>
                         </div>

                         <!-- product-name -->
                         <div class="product-name">
                              <h3><a href="#">Fusce aliquam</a></h3>
                         </div>

                         <!-- price-box -->
                         <div class="price-box">
                              <span class="old-price">$170.00</span>
                              <span class="new-price">$155.00</span>
                         </div>
                    </div>

                    <!-- image -->
                    <div class="product-img">

                         <span class="sale-text">sale</span>

                         <a href="#">
                              <img class="primary-img"
                                   src="https://htmldemo.net/expert/expert/assets/images/product/1_5.webp" alt="">

                              <img class="secondary-img"
                                   src="https://htmldemo.net/expert/expert/assets/images/product/22_1.webp" alt="">
                         </a>

                         <div class="add-action">
                              <ul>
                                   <!-- tooltip 1 -->
                                   <li class="heart">
                                        <div id="tooltip1" role="tooltip">
                                             ADD To Wishlist
                                             <div id="arrow1" data-popper-arrow></div>
                                        </div>

                                        <a href="#" id="ankr1" aria-describedby="tooltip">
                                             <i class="fa-regular fa-heart"></i>
                                        </a>
                                   </li>
                                   <!-- tooltip 2 -->
                                   <li class="refresh">


                                        <div id="tooltip2" role="tooltip">
                                             Compare
                                             <div id="arrow2" data-popper-arrow></div>
                                        </div>


                                        <a href="#" data-bs-tooltip="tooltip" aria-label="Compare"
                                             data-bs-original-title="Compare">
                                             <i class="fa fa-refresh"></i>
                                        </a>
                                   </li>


                                   <!-- Button trigger modal -->

                                   <!-- tooltip 3 -->
                                   <li class="quickview eye">
                                        <div id="tooltip3" role="tooltip">
                                             Quick view
                                             <div id="arrow3" data-popper-arrow></div>
                                        </div>




                                        <a href="#" title="Quick view" data-bs-toggle="modal"
                                             data-bs-target="#productModal">
                                             <i class="fa fa-eye"></i>
                                        </a>
                                   </li>
                              </ul>
                         </div>
                    </div>

                    <!-- button -->
                    <div class="add-to-cart">
                         <a href="#">add to cart</a>
                    </div>
               </div>
          </div>
     </div>

</div>
<!-- 5 -->
<div class="owl-wrapper col-md-6 col-sm-6 col-lg-4 col-xl-4 ">
     <div class="owl-item" >
          <div class="custom-col">
               <div class="single-product">

                    <!--product(star-name-price)  -->
                    <div class="product-details">

                         <!-- product header -->

                         <div class="card-header card-header">

                              <button type="button" class="btn-close "></button>
                         </div>

                         <!-- star -->
                         <div class="ratings no-rating row">
                              <ul>
                                   <li><i class="fa-solid fa-star"></i></li>
                                   <li><i class="fa-solid fa-star"></i></li>
                                   <li><i class="fa-solid fa-star"></i></li>
                                   <li><i class="fa-solid fa-star"></i></li>
                                   <li><i class="fa-solid fa-star"></i></li>
                              </ul>
                         </div>

                         <!-- product-name -->
                         <div class="product-name">
                              <h3><a href="#">Fusce aliquam</a></h3>
                         </div>

                         <!-- price-box -->
                         <div class="price-box">
                              <span class="old-price">$170.00</span>
                              <span class="new-price">$155.00</span>
                         </div>
                    </div>

                    <!-- image -->
                    <div class="product-img">

                         <span class="sale-text">sale</span>

                         <a href="#">
                              <img class="primary-img"
                                   src="https://htmldemo.net/expert/expert/assets/images/product/1_5.webp" alt="">

                              <img class="secondary-img"
                                   src="https://htmldemo.net/expert/expert/assets/images/product/22_1.webp" alt="">
                         </a>

                         <div class="add-action">
                              <ul>
                                   <!-- tooltip 1 -->
                                   <li class="heart">
                                        <div id="tooltip1" role="tooltip">
                                             ADD To Wishlist
                                             <div id="arrow1" data-popper-arrow></div>
                                        </div>

                                        <a href="#" id="ankr1" aria-describedby="tooltip">
                                             <i class="fa-regular fa-heart"></i>
                                        </a>
                                   </li>
                                   <!-- tooltip 2 -->
                                   <li class="refresh">


                                        <div id="tooltip2" role="tooltip">
                                             Compare
                                             <div id="arrow2" data-popper-arrow></div>
                                        </div>


                                        <a href="#" data-bs-tooltip="tooltip" aria-label="Compare"
                                             data-bs-original-title="Compare">
                                             <i class="fa fa-refresh"></i>
                                        </a>
                                   </li>


                                   <!-- Button trigger modal -->

                                   <!-- tooltip 3 -->
                                   <li class="quickview eye">
                                        <div id="tooltip3" role="tooltip">
                                             Quick view
                                             <div id="arrow3" data-popper-arrow></div>
                                        </div>




                                        <a href="#" title="Quick view" data-bs-toggle="modal"
                                             data-bs-target="#productModal">
                                             <i class="fa fa-eye"></i>
                                        </a>
                                   </li>
                              </ul>
                         </div>
                    </div>

                    <!-- button -->
                    <div class="add-to-cart">
                         <a href="#">add to cart</a>
                    </div>
               </div>
          </div>
     </div>

</div>

<!-- 6 -->
<div class="owl-wrapper col-md-6 col-sm-6  col-lg-4 col-xl-4 ">
     <div class="owl-item" >
          <div class="custom-col">
               <div class="single-product">

                    <!--product(star-name-price)  -->
                    <div class="product-details">

                         <!-- product header -->

                         <div class="card-header card-header">

                              <button type="button" class="btn-close "></button>
                         </div>

                         <!-- star -->
                         <div class="ratings no-rating row">
                              <ul>
                                   <li><i class="fa-solid fa-star"></i></li>
                                   <li><i class="fa-solid fa-star"></i></li>
                                   <li><i class="fa-solid fa-star"></i></li>
                                   <li><i class="fa-solid fa-star"></i></li>
                                   <li><i class="fa-solid fa-star"></i></li>
                              </ul>
                         </div>

                         <!-- product-name -->
                         <div class="product-name">
                              <h3><a href="#">Fusce aliquam</a></h3>
                         </div>

                         <!-- price-box -->
                         <div class="price-box">
                              <span class="old-price">$170.00</span>
                              <span class="new-price">$155.00</span>
                         </div>
                    </div>

                    <!-- image -->
                    <div class="product-img">

                         <span class="sale-text">sale</span>

                         <a href="#">
                              <img class="primary-img"
                                   src="https://htmldemo.net/expert/expert/assets/images/product/1_5.webp" alt="">

                              <img class="secondary-img"
                                   src="https://htmldemo.net/expert/expert/assets/images/product/22_1.webp" alt="">
                         </a>

                         <div class="add-action">
                              <ul>
                                   <!-- tooltip 1 -->
                                   <li class="heart">
                                        <div id="tooltip1" role="tooltip">
                                             ADD To Wishlist
                                             <div id="arrow1" data-popper-arrow></div>
                                        </div>

                                        <a href="#" id="ankr1" aria-describedby="tooltip">
                                             <i class="fa-regular fa-heart"></i>
                                        </a>
                                   </li>
                                   <!-- tooltip 2 -->
                                   <li class="refresh">


                                        <div id="tooltip2" role="tooltip">
                                             Compare
                                             <div id="arrow2" data-popper-arrow></div>
                                        </div>


                                        <a href="#" data-bs-tooltip="tooltip" aria-label="Compare"
                                             data-bs-original-title="Compare">
                                             <i class="fa fa-refresh"></i>
                                        </a>
                                   </li>


                                   <!-- Button trigger modal -->

                                   <!-- tooltip 3 -->
                                   <li class="quickview eye">
                                        <div id="tooltip3" role="tooltip">
                                             Quick view
                                             <div id="arrow3" data-popper-arrow></div>
                                        </div>




                                        <a href="#" title="Quick view" data-bs-toggle="modal"
                                             data-bs-target="#productModal">
                                             <i class="fa fa-eye"></i>
                                        </a>
                                   </li>
                              </ul>
                         </div>
                    </div>

                    <!-- button -->
                    <div class="add-to-cart">
                         <a href="#">add to cart</a>
                    </div>
               </div>
          </div>
     </div>

</div>

<!-- cart -->




</div>

</div>


<!-- Modal -->
<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog">
          <div class="modal-content">
               <div class="modal-header">

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body">
                    <div class="modal-product row justify-content-center align-items: center">
                         <!-- Start product images -->
                         <div class="product-images col-xl-4 col-lg-4  col-md-4 col-sm-12">
                              <div class="main-image images ">
                                   <img alt=""
                                        src="https://htmldemo.net/expert/expert/assets/images/product/quickview.webp">
                              </div>
                         </div>
                         <!-- end product images -->
                         <div class="product-info col-xl-7 col-lg-7 col-md-7 col-sm-12">
                              <h1 class="">Adobe Photoshop Tuts</h1>
                              <div class="price-box-3">
                                   <div class="s-price-box">
                                        <span class="new-price">$17.20</span>
                                        <span class="old-price">$45.00</span>
                                   </div>
                              </div>
                              <a href="shop.html" class="see-all">See all features</a>
                              <div class="quick-add-to-cart">
                                   <form method="post" class="cart">
                                        <div class="numbers-row">
                                             <input type="number" id="french-hens" value="3">
                                        </div>
                                        <button class="single_add_to_cart_button" type="submit">Add to cart</button>
                                   </form>
                              </div>
                              <div class="quick-desc">
                                   Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                   Nam fringilla augue nec est
                                   tristique auctor. Donec non est at libero.
                              </div>
                              <div class="social-sharing">
                                   <div class="widget widget_socialsharing_widget">
                                        <h3 class="widget-title-modal">Share this product
                                        </h3>
                                        <ul class="social-icons">

                                             <li><a target="_blank" title="Facebook" href="#"
                                                       class="facebook social-icon"><i
                                                            class="fa-brands fa-facebook-f"></i></a></li>

                                             <li><a target="_blank" title="Twitter" href="#"
                                                       class="twitter social-icon"><i
                                                            class="fa-brands fa-twitter"></i></a></li>

                                             <li><a target="_blank" title="Pinterest" href="#"
                                                       class="pinterest social-icon"><i
                                                            class="fa-brands fa-pinterest-p"></i></a>
                                             </li>

                                             <li><a target="_blank" title="Google +" href="#"
                                                       class="gplus social-icon"><i
                                                            class="fa-brands fa-google-plus-g"></i></a>
                                             </li>

                                             <li><a target="_blank" title="LinkedIn" href="#"
                                                       class="linkedin social-icon"><i
                                                            class="fa-brands fa-linkedin-in"></i></a></li>
                                        </ul>
                                   </div>
                              </div>
                         </div><!-- .product-info -->
                    </div><!-- .modal-product -->
               </div><!-- .modal-body -->
          </div>
     </div>
</div>
