<div id="back" class="mt-5">
    <div id="front">
        <div class="row text-center">
            <p class="mt-5 text-white fs-1 fw-light">Finally got started</p>
        </div>
        <div class="row text-center">
            <p class="mt-2 fs-1" style="color: rgb(56, 54, 54);">GREAT SALES EVENTS OF THE WEEK</p>
        </div>
        <div class="row justify-content-center mt-5">
            
            <div class="col-lg-1 col-md-1 col-sm-2 m-2  text-center block" style="width:10rem">
                <p #weeks class="t"></p>
                <p class="fs-3 lh-1">Weeks</p>
            </div>
            
            <div class="col-lg-1 col-md-1 col-sm-2 m-2 text-center block" style="width:10rem">
                <p #days class="t"></p>
                <p class="fs-3 lh-1">Days</p>
            </div>
            
            <div class="col-lg-1 col-md-1 col-sm-2 m-2 text-center block" style="width:10rem">
                <p #hours class="t"></p>
                <p class="fs-3 lh-1">Hours</p>
            </div>
            
            <div class="col-lg-1 col-md-1 col-sm-2 m-2 text-center block" style="width:10rem">
                <p #minutes class="t"></p>
                <p class="fs-3 lh-1">Minutes</p>
            </div>
            
            <div class="col-lg-1 col-md-1 col-sm-2 m-2 text-center block" style="width:10rem">
                <p #seconds class="t"></p>
                <p class="fs-3 lh-1">Seconds</p>
            </div>
      </div>
      <div class="text-center mt-3">
        <button class="btn rounded-0 mt-5">READ MORE</button>
    </div>        
      </div>
    </div>
  