<div style="border: 2px solid rgba(0, 0, 0, 0.141); box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.547) ; background-color:rgba(250, 239, 229, 0.223); width: 70%; margin-top: 6rem;" class=" p-5 rounded container">


    <!-- Form Title -->
    <h1 class="text-center mt-2 mb-4">Create Your Account</h1>


    <!-- Registration Form -->
    <form [formGroup]="register_form" (ngSubmit)="register()" >

        <!-- User's Full Name ( first + last Name ) -->
        <div class="d-flex justify-content-between ">
            <!-- User's First Name -->
            <div class=" mt-4 " style="width:45%;">
                <label for="f_name" class="form-label fw-semibold fs-5">First Name</label>
                <input   name="f_name" formControlName="f_name" type="text" class=" form-control" id="f_name">
                
                <div *ngIf="register_form.controls.f_name.touched && register_form.controls.f_name.hasError('required')" class="alert alert-danger">First Name is required</div>
                <div *ngIf="register_form.controls.f_name.touched && register_form.controls.f_name.hasError('maxlength')" class="alert alert-danger">First Name MaxLength must be 10 charachters</div>
                <div *ngIf="register_form.controls.f_name.touched && register_form.controls.f_name.hasError('minlength')" class="alert alert-danger">First Name MinLength must be 2 charachters</div>

            </div>
            <!-- User's Last Name -->
            <div class="mt-4 " style="width:45%;">
                <label for="l_name" class=" form-label fw-semibold fs-5">Last Name</label>
                <input  name="l_name" formControlName="l_name" type="text" class=" form-control" id="l_name" >
                <div *ngIf="register_form.controls.l_name.touched && register_form.controls.l_name.hasError('required')" class="alert alert-danger">Last Name is required</div>
                <div *ngIf="register_form.controls.l_name.touched && register_form.controls.l_name.hasError('maxlength')" class="alert alert-danger">Last Name MaxLength must be 10 charachters</div>
                <div *ngIf="register_form.controls.l_name.touched && register_form.controls.l_name.hasError('minlength')" class="alert alert-danger">Last Name MinLength must be 2 charachters</div>
                
            </div>
        </div>


        <!-- Email address -->
        <div class="mb-3 mt-4">
            <label for="email" class="form-label fw-semibold fs-5">Email address</label>
            <input  name="email" type="email" formControlName="email" class=" form-control" id="email" >
            <div *ngIf="register_form.controls.email.touched && register_form.controls.email.hasError('required')" class="alert alert-danger">Email is required</div>
            <div *ngIf="register_form.controls.email.touched && register_form.controls.email.hasError('email')" class="alert alert-danger">Your email is not valid</div>

            
        </div>


        <div class="d-flex justify-content-between">
            <!-- Vendor Or Client -->
        
            <div class="mb-2" style="width: 40%; padding: 0.5rem; border-radius: 0.5rem; ">
                <label for="user" class=" ms-2 form-label fw-semibold fs-5">User</label>

                <div class=" d-flex justify-content-around" style=" border-radius:0.5rem; padding:0.4rem; border: 1px solid rgba(0, 0, 0, 0.337);">
                    <div style="position: relative; top: 0.3rem;">
                        <input  name="user" [(ngModel)]="userType" value="client" type="radio" formControlName="user" id="user" >
        
                        <label for="user" class=" ms-2 form-label fw-semibold fs-5">User</label>
                    </div>
        
                    <div class="ms-4" style="position: relative; top: 0.3rem;">
                        <input  name="user" [(ngModel)]="userType" type="radio" value="vendor" formControlName="user" id="vendor"  >
        
                        <label for="vendor" class="ms-2 form-label fw-semibold fs-5">Vendor</label>
                    </div>
                </div>
                
                <div *ngIf="register_form.controls.email.touched && register_form.controls.email.hasError('required')" class="alert alert-danger">Email is required</div>
                <div *ngIf="register_form.controls.email.touched && register_form.controls.email.hasError('email')" class="alert alert-danger">Your email is not valid</div>

                
            </div>

            <!-- CNN -->
            <div *ngIf="userType=='vendor'" class="w-50 mb-3 mt-4">
                <label for="cn" class="form-label fw-semibold fs-5">CN Number</label>
                <input  name="cn" type="text" formControlName="cn" class=" form-control" id="cn" >
                <div *ngIf="register_form.controls.email.touched && register_form.controls.email.hasError('required')" class="alert alert-danger">Email is required</div>
                <div *ngIf="register_form.controls.email.touched && register_form.controls.email.hasError('email')" class="alert alert-danger">Your email is not valid</div>

                
            </div>
        </div>

        <!-- Password + ConfirmPassword -->
        <div class="mb-4">
            <!-- Password -->
            <div class="mb-3">
                <label for="password" class="form-label fw-semibold fs-5">Password</label>
                <div class="d-flex position-relative">
                    <input   name="password" [type]="type1" formControlName="password" class="form-control" id="password">

                    <button *ngIf="!showEyeSlashIcon1" (click)="show_password()" class="position-absolute border bg-transparent " style="right: 0rem; height: 2.5rem;"><i class="fa-solid fa-eye"></i></button>
                    <button *ngIf="showEyeSlashIcon1" (click)="hide_password()" class="position-absolute border bg-transparent " style="right: 0rem; height: 2.5rem;"><i class="fa-solid fa-eye-slash"></i></button>
                </div>
                 <div *ngIf="register_form.controls.password.touched && register_form.controls.password.hasError('required')" class="alert alert-danger">Password is required</div>
                <div *ngIf="register_form.controls.password.touched && register_form.controls.password.hasError('minlength')" class="alert alert-danger">Password MinLength must be 2 charachters</div>

            </div>
  
            <!-- Confirm Password -->
            <div class="mb-3">
                <label for="confirmPassword" class="form-label fw-semibold fs-5">Confirm Password</label>
                <div class="d-flex position-relative">
                    <input  style="width:70rem;" name="confirmPassword" formControlName="confirmPassword" [type]="type2" class="form-control" id="confirmPassword">
                    <button *ngIf="!showEyeSlashIcon2" (click)="show_confirmPassword()" class=" position-absolute border bg-transparent " style="right: 0rem; height: 2.5rem;"><i class="fa-solid fa-eye"></i></button>
                    <button *ngIf="showEyeSlashIcon2" (click)="hide_confirmPassword()" class=" position-absolute border bg-transparent " style="right: 0rem; height: 2.5rem;"><i class="fa-solid fa-eye-slash"></i></button>
                </div>
                <div *ngIf="register_form.controls.confirmPassword.touched && register_form.controls.confirmPassword.hasError('required')" class="alert alert-danger">Password is required</div>


                <div *ngIf=" register_form.controls.confirmPassword.value != register_form.controls.password.value  && register_form.controls.confirmPassword.touched "  class="alert alert-danger form-text">Password doesn't match</div>
            </div>
        </div>

        
        <button  type="submit" [disabled]="register_form.invalid && (register_form.controls.confirmPassword.value==register_form.controls.password.value) " class="w-100 btn text-light" style="height: 3rem; background-color: black;">Create an Account</button>
        <div class="mt-3 justify-content-center d-flex">
            <p class="me-2">Aready have an account ?</p>
            <a class="fw-semibold" routerLink="/login">Login</a>
        </div>
        
      </form>
</div>