<div class="row">
  <div class="card">
    <div class="card-body">
      <div class="col-lg-1 col-md-1 col-sm-2 m-2  text-center block" style="width:10rem">
                <p #weeks class="t"></p>
                <p class="fs-3 lh-1">Weeks</p>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-2 m-2 text-center block" style="width:10rem">
                <p #days class="t"></p>
                <p class="fs-3 lh-1">Days</p>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-2 m-2 text-center block" style="width:10rem">
                <p #hours class="t"></p>
                <p class="fs-3 lh-1">Hours</p>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-2 m-2 text-center block" style="width:10rem">
                <p #minutes class="t"></p>
                <p class="fs-3 lh-1">Minutes</p>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-2 m-2 text-center block" style="width:10rem">
                <p #seconds class="t"></p>
                <p class="fs-3 lh-1">Seconds</p>
            </div>
    </div>
  </div>
</div>
