@media (max-width : 1000px ){
    .left_section_for_filter {
        display: none;
    }
    .right_section_for_cards{
        width: 100% !important;
    }
}


@media (max-width : 400px ){
    .fast_search_by_categories {
       
        /* flex-wrap: wrap !important; */
    }
    .category_room_name{
        display: none;
    }
    
}