<!-- header -->
<div id="background">
    <div id="layout">
        <!-- headline -->
        <div class="text-center pt-5">
            <h1 class="text-light pt-5">SHOP CART</h1>
        </div>
        <!-- border -->
        <div class="title-border mx-auto mb-4 mt-4"></div>
        <!-- text -->
        <div class="text-center text-light">
          <a href="#" class="text-decoration-none text-light navigation">Home</a> - 
          <a href="#" class="text-decoration-none text-light navigation">Shop Cart</a>
      </div>
    </div>
</div>

<!-- cart table -->
<div class="container mt-5 text-center">       
  <div class="table-responsive">
    <table class="table align-middle">
      <thead>
        <th class="p-3 fw-normal">PRODUCT</th>
        <th class="p-3 fw-normal">PRICE</th>
        <th class="p-3 fw-normal">QUANTITY</th>
        <th class="p-3 fw-normal">TOTAL</th>
        <th></th>
      </thead>
      <tbody>
        <!-- First Row -->
        <tr>
          <td>
            <div class="d-flex align-items-center">
              <div style="background-color: #eef1f8; height: 5rem;">
                <img class="mt-1 mx-1"src="../../assets/wishlist_product_01.png">
              </div>
              
              <div class="ms-3">
                <p class="mb-1">CRACKLE PLATES</p>
              </div>
            </div>
          </td>
          <td>$22.00</td>
          <td><input class="form-control text-center" style="width: 4rem;" type="number" value="2"></td>
          <td>$44.00</td>
          <td>              
            <button type="button" class="close bg-danger border border-danger rounded-5" aria-label="Close" style="color:white">
              <span>&times;</span>
            </button>
          </td>
        </tr>
        <!-- Second Row -->
        <tr>
          <td>
            <div class="d-flex align-items-center">
              <div style="background-color: #eef1f8; height: 5rem;">
                <img class="mt-1 mx-1"src="../../assets/wishlist_product_02.png">
              </div>
              
              <div class="ms-3">
                <p class="mb-1">CRACKLE PLATES</p>
              </div>
            </div>
          </td>
          <td>$22.00</td>
          <td><input class="form-control text-center" style="width: 4rem;" type="number" value="2"></td>
          <td>$44.00</td>
          <td>              
            <button type="button" class="close bg-danger border border-danger rounded-5" aria-label="Close" style="color:white">
              <span>&times;</span>
            </button>
          </td>
        </tr>
        <!-- Third Row -->
        <tr class="text-center">
          <td>
            <div class="d-flex align-items-center">
              <div style="background-color: #eef1f8; height: 5rem;">
                <img class="mt-1 mx-1"src="../../assets/wishlist_product_03.png">
              </div>
              
              <div class="ms-3">
                <p class="mb-1">CRACKLE PLATES</p>
              </div>
            </div>
          </td>
          <td>$22.00</td>
          <td><input class="form-control text-center" style="width: 4rem;" type="number" value="2"></td>
          <td>$44.00</td>
          <td>              
            <button type="button" class="close bg-danger border border-danger rounded-5" aria-label="Close" style="color:white">
              <span>&times;</span>
            </button>
          </td>
        </tr>
        <!-- Fourth Row -->
        <tr>
          <td>
            <div class="d-flex align-items-center">
              <div style="background-color: #eef1f8; height: 5rem;">
                <img class="mt-1 mx-1"src="../../assets/wishlist_product_04.png">
              </div>
              
              <div class="ms-3">
                <p class="mb-1">CRACKLE PLATES</p>
              </div>
            </div>
          </td>
          <td>$22.00</td>
          <td><input class="form-control text-center" style="width: 4rem;" type="number" value="2"></td>
          <td>$44.00</td>
          <td>              
            <button type="button" class="close bg-danger border border-danger rounded-5" aria-label="Close" style="color:white">
              <span>&times;</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<!-- cart buttons -->
<div class="row my-5">
  <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12">
    <div class="col-12 text-start">
      <button class="btn btn-light col-xl-5 col-lg-6 col-md-6 col-sm-12 rounded-0 border-dark me-5 cartBtn">CLEAR SHOPPING CART</button>
      <button class="btn btn-light col-xl-5 col-lg-6 col-md-6 col-sm-12 rounded-0 border-dark cartBtn" (click)="backToMarket()">UPDATE SHOPPING CART</button>
    </div>
  </div>
  <div class="col-xl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <div class="text-xl-end text-lg-end text-md-start text-sm-start">
      <button class="btn btn-dark col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12 rounded-0 border-dark contBtn" (click)="checkOut()">CHECKOUT</button>
    </div>
  </div>
</div>
</div>



<!-- /////////////////////////////////////////////////////////////////////////////////////////// -->


<div class="container">

  
</div>