



  <nav class="navbar navbar-expand-lg " style="height:10vh ;background-color:#FBF5EC !important; color: black !important;">
    <div class="container-fluid d-flex justify-content-around ">

      <!-- Website_Name + Logo -->
      <div class="position-relative d-flex align-items-center" style="bottom: 0.6rem; ">
        <img class="ms-3  rounded-3 position-relative" style="top: 0.5rem; width: 4.5rem;" src="../../assets/BrandLogo.png" alt="">
        <!-- <a  class="navbar-brand position-relative" style="top: 0.6rem; left: 0.6rem; font-size: 1.5rem; color: rgba(0, 208, 0, 0.915);" href="#"><i class="fa-solid fa-i"></i></a>
        <a  class="navbar-brand position-relative" style="top: 0.8rem; right: 0.2rem; font-size: 1rem; color: rgba(0, 208, 0, 0.915);" href="#"><i class="fa-solid fa-m"></i></a>
        <a  class="navbar-brand position-relative brandName" style="top: 0.6rem; font-size: 1.5rem; right: 0.7rem;" href="#">Home</a> -->
      </div>

      <!-- Home , Products , About , Page , Shop , Blog & Contact -->
      <div>
        
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <!-- Home -->
            <li class="nav-item">
                <a class="nav-link " aria-current="page" routerLink="/home">HOME</a>
            </li>
                <!-- Products -->
            <div class="dropdown position-relative">
                <a style="border-color:transparent !important;" class="products_btn btn  dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Products
                </a>
                
                <ul class="dropdown-menu" style="position:absolute; left: -5rem;top:3rem ; height:35vh; width:80vw;">
                   
                    <div class="d-flex">
                        <section class="d-flex " style="border:2px solid red; width:60%;">
                        <ul style="list-style: none;">
                            <h5>Bedding Rooms</h5>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                        </ul>
                        <ul style="list-style: none;">
                            <h5>Bedding Rooms</h5>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                        </ul>
                        <ul style="list-style: none;">
                            <h5>Bedding Rooms</h5>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                        </ul>
                    </section>
                    <!-- section for Image -->
                    <section style="border:2px solid blue; width:40%;">
                        <img src="" alt="">
                    </section>
                    </div>
                    
                    
                </ul>
            </div>
            
                <!-- About -->
            <li class="nav-item">
                <a class="nav-link  " aria-current="page" href="#">ABOUT</a>
            </li>
                <!-- Page -->
            <li class="nav-item">
                <a class="nav-link " aria-current="page" routerLink="wishlist">WISHLIST</a>
            </li>
                <!-- Shop -->
            <li class="nav-item">
                <a class="nav-link " href="#">MARKET</a>
            </li>
                <!-- Blog -->
            <li class="nav-item">
                <a class="nav-link " routerLink="cart">CART</a>
            </li>
                <!-- Contact -->
            <li class="nav-item">
                <a class="nav-link " href="#">CONTACT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="vendor" >Vendor</a>
            </li>
            </ul>
        </div>
      </div>


      
      <!-- Search , UserName + Img , LogIn , Register & LonOut -->
      <div   class="position-relative d-flex" style="width: 30%;  right: 1.5rem;">
        <!-- Search Icon -->
        <a class="me-5 text-dark " style=" font-size: 1.2rem;" routerLink="filter"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></a>
        <!-- User image + User Name -->
        <a class="text-decoration-none text-dark"  style="width: 35% !important; display: inline-block; " routerLink="client">
            <div class="d-flex align-items-center">
                <img class="me-2 " style="width: 20%;" src="../../assets/client.png" alt="Client Profile Photo">
                <h6 class="position-relative" style="top: 0.25rem;">User Name</h6>
            </div>
        </a>
        <!-- LogIn , Register & LonOut -->
        <a class=" text-dark text-decoration-none me-3 " routerLink="login">Login</a>
        <a class="text-dark  text-decoration-none me-3 " routerLink="register">Register</a>
        <a class="text-dark  text-decoration-none " href="#">Logout</a>    
      </div>
      
    </div>
    
  </nav>