
@media (max-width:768px){
    .image{
        position: relative !important;
        width: 17rem !important;
        height: 13rem !important;
    }
} 
 @media (max-width:576px){
    .block{
        width: 100% !important;
    }
}  

.title-border{
    display: block;
    width: 3rem;
    height: 1px;
    background-color: #e4c7a2;
}

.startBright{
    color: rgb(233, 180, 82);
}
.row{
    margin:0 0;
}